body {
  padding: 1rem;
  background-color: rgb(204, 204, 204);
  line-height: 1.4;
  font-size: 24pt;
  font-weight: 400;
  font-style: normal;
}

@media only screen and (max-width: 640px){
  html {
    font-size: 36pt;
  }
}

a:link, a:visited {
  color: black;
  text-decoration: none;
}

a:active, a:hover {
  color: white;
  border-bottom: 2px solid white;
}

nav {
  padding: .5rem 0 .5rem 0;
}

body.work-container {
  background-color: rgb(233, 233, 233);
}

span.back-button a:link, span.back-button a:visited {
  position: fixed;
  color: white;
  text-decoration: none;
}

span.back-button a:active, span.back-button a:hover {
  position: fixed;
  color: black;
  border-bottom: 2px solid black;
}

div.image-container {
  padding-top: 2.5rem;
  text-align: center;
}

img {
  max-width: 100%;
  max-height: 1000px;
}
