body {
  line-height: 1.1;
  background-color: #E5E5E5;
  font-size: 16px;
  font-kerning: normal;
  text-align: center;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}

header span {
  color: #4B4B4B;
}

.main {
  margin: -.5rem 1rem 1rem 1rem;
}

h1 {
  color: #2E2E2E;
  font-size: 4vw;
  font-family: cabazon, serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -0.0175em;
  margin-top: 5vw;
  margin-bottom: 1.5vw;
}

h2 {
  color: #424242;
  font-size: 6vw;
  font-family: franklin-gothic-urw-cond, sans-serif;
  font-weight: 700;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  margin-top: 10vw;
}

p {
  color: #2E2E2E;
  font-size: 4vw;
  font-family: adobe-caslon-pro, serif;
  font-weight: 600;
  font-style: italic;
  max-width: 75ch;
  margin-top: 2vw;
}

a {
  letter-spacing: 0.025em;
  font-size: 2vw;
  font-family: franklin-gothic-urw, sans-serif;
  font-weight: 900;
  font-style: normal;
}

a:link, a:visited {
  text-decoration: none;
  color: #2E2E2E;
  transition: color 0.3s ease-out;
}

a:hover, a:active {
  color: #4B4B4B;
}

@media only screen and (max-width: 800px) {
  h1 {
    font-size: 2em;
  }
  header span {
    font-size: .5em;
  }
  h2 {
    font-size: 3em;
    margin-top: 2em;
  }
  p {
    font-size: 2em;
  }
  a {
    font-size: 1.5em;
  }
  nav ul li {
    padding: 0 0 3rem 0;
  }
}

nav {
  bottom: 0px;
  position: fixed;
  width: 100%;
  text-transform: uppercase;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

nav ul li {
  padding: 0 3rem 3rem 3rem;
}

/* scrollbar */

::-webkit-scrollbar {
  width: 2%;
}

::-webkit-scrollbar-thumb {
  background: #4B4B4B;
}
