/* universal styles */

body {
  font-size: 1rem;
  font-family: "Space Mono", sans-serif;
  margin: 1rem;
}

p {
  margin: 1rem 0
}

a:link, a:visited {
  text-decoration: none;
  color: black;
}

a:hover, a:active {
  text-decoration: none;
  font-style: italic;
  color: black;
}

.back-button {
  margin-top: 2rem;
}

@media screen and (max-width: 600px) {
  body {
    font-size: 1.125rem;
  }
}

/* nav */

nav {
  display: flex;
  margin-bottom: 2rem;
}

nav span {
  margin: 0 1rem;
}

@media screen and (max-width: 600px) {
  nav {
    flex-direction: column;
  }
  nav span {
    margin: .5rem 0;
  }
}

/* carousel */

#carousel {
    width: 100%;
    overflow: visible;
    white-space: nowrap;
    overflow-y: hidden;
}

#carousel .slide {
    display: inline;
}

#carousel .slide img {
  max-width: 60%;
}

@media screen and (max-width: 600px) {
  #carousel .slide img {
    max-width: 90%;
    display: block;
  }
}
